<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Member</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>

<h1>Add Member Form</h1>

<div id="content">

    <h2>Member List</h2>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="member : ${memberList}">
                <td th:text="${member.id}">id</td>
                <td th:text="${member.name}">Name</td>
                <td th:text="${member.email}">Email</td>
            </tr>
        </tbody>
    </table>
</div>


</body>
</html>
